.table{
    display: flex;
    justify-content: center; 
    
};

.head {
    display: flex;
    flex-direction: row;
    background-color: aqua;
    margin: 20px;
    border: 1px;
};
.names{ 
    color: white;
    text-decoration: solid; 
};